
        body {
            
                 
              
                
                font-family: "Roboto", sans-serif;
                font-optical-sizing: auto;
                font-style: normal;
                font-variation-settings:
                    "wdth" 100;
                margin: 0;
                padding: 0;


}
.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    
}
.header {
    grid-row: 1 /2;
    background-color: rgba(249, 197, 41, 0.884);
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 14rem;
    /* position: fixed; */

    /* align-self: center; */
    
    
}
.card-container {
    background-color: rgba(249, 197, 41, 0.226);
    grid-column: 1 / 5;
    min-height: 100vh;
    color: rgba(0, 0, 0, 0.733);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
    
}
.card {
    box-sizing: border-box;
    /* border: 4px rgba(0, 0, 0, 0.247) solid; */
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: rgba(255, 255, 255, 0.418);
    padding: 1rem;
    cursor: pointer;
   
}



 #txt {
    color: blue;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-align: center;
    align-self: center;
    
 }

 .dialog-btn {
    width: 7rem;
    height: 5rem;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    border-radius: 1rem;
    outline: none;
    border: 2px rgba(0, 0, 0, 0.295) solid;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: rgba(241, 220, 156, 0.774);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transform: opacity 0.5s;
 }
 .dialog-btn:active {
    opacity: 0.8;
 }
 form {
    display: grid;
    /* grid-template-rows: repeat(9,1fr); */
    /* width: 35rem; */
 }

 .input-element {
    padding: 1rem;
    font-size: 1rem;
    width:25rem;
    outline: none;
    border-radius: 0.5rem;
    border-style: solid;
    background-color:  rgba(255, 255, 255, 0.753);
 }

 dialog {
    width: 30rem;
    height: 25rem;
    border: 4px rgba(0, 0, 0, 0.356) solid;
    border-radius: 0.5rem;
    background-color:  rgba(249, 197, 41, 0.952);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 }

 label {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;

 }
 .label-box {
    margin-bottom: 1rem;
    
 }
 .label-box-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgba(255, 255, 255, 0.801);
    font-weight: bold;
    font-size: 1.5rem;
    
   
 }
 .status-check {
    justify-self:start;
    
 }
 .txt {
    /* color: blue; */
    justify-self:end;
    font-size: 1.2rem;
 }
 

 .functionality-btn-cont {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
 }
 .perform-click-operation {
  height: 3rem;
  width: 8rem;
  justify-self: center;
  border-radius: 1rem;
  outline: none;
  border: 1px rgba(0, 0, 0, 0.26) solid;
  
 }
  
 .delete-btn{
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.733);
    border-radius: 0.5rem;
    border: 2px rgba(0, 0, 0, 0.226) solid;
    cursor: pointer;
 }

 .status-btn {
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
    background-color: rgba(249, 197, 41, 0.952);;
    border-radius: 0.5rem;
    border: 2px rgba(0, 0, 0, 0.226) solid;
    cursor: pointer;
 }